@import 'tailwindcss';

@layer components {
	.btn {
		@apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors cursor-pointer;
	}

	.btn-primary {
		@apply bg-green-600 hover:bg-green-700;
	}

	.btn-secondary {
		@apply bg-gray-600 hover:bg-gray-700;
	}
}
